@import "tailwindcss";

/* ===== Variables y estilos globales ===== */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

<<<<<<< HEAD
html, body { height: 100%; }
=======
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;  
    --foreground: #171717; /* 👈 negro en vez de blanco */
  }
}


>>>>>>> 30f26dd0dbefb73c868a32cd07201045f686351b
body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}

h1, h2, h3 { font-weight: bold; }

/* Helpers */
.container-xl { max-width: 1536px; margin-inline: auto; padding-inline: 1rem; }
.shadow-soft { box-shadow: 0 1px 2px rgba(16,24,40,.06), 0 1px 3px rgba(16,24,40,.10); }
/* Oculta scrollbars para menú horizontal en Windows/Chrome/Safari */
.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none;    /* Firefox */
}
.no-scrollbar::-webkit-scrollbar { display: none; } /* Chrome/Safari */
